__pycache__
.mypy_cache
.pytest_cache
app/__pycache__
app/__pycache__/main.cpython-39.pyc
app/models/__pycache__
app/routers/__pycache__
app/schemas/__pycache__
migrations/__pycache__
tests/__pycache__